//- layout.pug
doctype html
html
  head
    title A-to-Z Dance Academy 
    block scripts
    block style 
  body
    block content 
    footer#footer   
        p Copyright 2022 @A-to-Z-danceacademy.com                      